/* You can add global styles to this file, and also import other style files */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  height: 100%;
}

header {
  display: flex;
  width: 100%;
  height: 100px;
}

.site-logo,
.site-branding {
  flex: 0 0 50%;
  width: 50%;  
}

.site-logo-img {
  max-height: 60px;
}

.logo-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 2rem;
}

.site-logo-img {
  max-width: 100%;
  height: auto;
}

.branding-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 2rem;
  font-size: 1.5rem;
  font-weight: bold;
}


