<?xml version="1.0" encoding="utf-8"?>
<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <!-- GoogleMapsApiKey: Should be set via environment variable or directly in production -->
    <add key="GoogleMapsApiKey" value="" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)" />
  </appSettings>
  
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  
  <system.web>
    <!-- Set debug to false for production -->
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    
    <!-- Set custom errors to RemoteOnly or On for production -->
    <customErrors mode="RemoteOnly" xdt:Transform="SetAttributes(mode)">
      <error statusCode="404" redirect="/error/404" xdt:Transform="Insert"/>
      <error statusCode="500" redirect="/error/500" xdt:Transform="Insert"/>
    </customErrors>
  </system.web>
  
  <system.webServer>
    <!-- Enable HTTPS redirect in production -->
    <rewrite xdt:Transform="Insert">
      <rules>
        <rule name="HTTPS Redirect" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>
    
    <!-- Enable HTTP Errors in production -->
    <httpErrors errorMode="Custom" existingResponse="Replace" xdt:Transform="Insert">
      <remove statusCode="404"/>
      <error statusCode="404" path="/error/404" responseMode="ExecuteURL"/>
      <remove statusCode="500"/>
      <error statusCode="500" path="/error/500" responseMode="ExecuteURL"/>
    </httpErrors>
  </system.webServer>
</configuration>
