<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="webactivator:assembliesToScan" value="ERH.HeatScans.Reporting.Server.Framework,ERH.FLIR,ERH.HeatScans.Reporting,System.Web.Http"/>
    <add key="GoogleDriveCredentialPath" value="./google-credentials.json" />
    <add key="AuthenticationGoogleClientId" value="343866397450-jt4c9enoljg2c8n6v65ighfmhsl30cag.apps.googleusercontent.com" />
    <add key="UsersFolderId" value="13jMdsK_4IyVIKDzpyhE9oNH92_2t16-m" />
    <!-- GoogleMapsApiKey: Set via environment variable (see ENVIRONMENT_VARIABLES.md) -->
    <add key="GoogleMapsApiKey" value="" />
  </appSettings>
  <connectionStrings>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.8.1">
      <assemblies>
        <remove assembly="atlas_c_sdk"/>
        <remove assembly="avcodec-58"/>
        <remove assembly="avdevice-58"/>
        <remove assembly="avfilter-7"/>
        <remove assembly="avformat-58"/>
        <remove assembly="avutil-56"/>
        <remove assembly="DynamicFilter"/>
        <remove assembly="live666"/>
        <remove assembly="Flir.Atlas.PleoraWrapper"/>        
        <remove assembly="Flir.Atlas.SpinnakerWrapper"/>
        <remove assembly="Flir.Cronos.ImageProcessingCPU"/>
        <remove assembly="FLIRCommunications"/>
        <remove assembly="FLIRCommunicationsAdapter"/>
        <remove assembly="ImageProcessingWrapper"/>
        <remove assembly="swresample-3"/>
        <remove assembly="swscale-5"/>
        <remove assembly="grpc_csharp_ext.x64"/>
        <remove assembly="grpc_csharp_ext.x86"/>        
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.8.1" />
    <customErrors mode="Off" />
  </system.web>
  <system.webServer>
  <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers></system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.3.0.0" newVersion="5.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.3.0.0" newVersion="5.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Tokens" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.3.0" newVersion="7.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Unity.Abstractions" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.11.7.0" newVersion="5.11.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis.Auth" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.73.0.0" newVersion="1.73.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.2" newVersion="6.0.0.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
